# Logs
logs
*.log
npm-debug.log*

# .env local configuration file
.env

# Dependencies
node_modules/
package-lock.json

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
.DS_Store

# Temp upload file directory
uploads/*

# Flattened Contracts
Flattened_Contracts/

local-env/besu/node1/database
local-env/besu/node2/database
