@import 'variables';
section {
  height: 100%;
  width: 100%;
  background-color: $color-light-grey;
}

.tab-content {
  padding: 24px 22px;
  height: calc(100% - 64px);

  &__text {
    max-width: 60%;
  }

  &__text-group {
    text-align: center;
    min-width: 198px;
  }
}

.tab-controls {
  background-color: #ffffff;
  padding: 30px 22px 0;
  margin-bottom: -9px;
  p {
    text-align: center;
    margin: 0;
  }
  &__item {
    margin: 0 16px;
  }
}

.common-text {
  color: $color-black;
}
