@import 'variables';

.common-text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: $color-dark-grey;
}

.common-text__sm {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: $color-dark-grey;
}

.card {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 3.2px 7.2px 0 rgba(0, 0, 0, 0.132), 0 0.6px 1.8px 0 rgba(0, 0, 0, 0.108);
}

.label,
label {
  font-weight: 400;
  font-size: 14px;
}

.form-control {
  color: $color-form-control;
  font-size: 14px;
  height: 34px;
  padding: 6px 12px;
  background: #fff;
  border: 1px solid #ccc;

  &:focus {
    outline: 0;
  }
}

.btn {
  cursor: pointer;
  text-transform: capitalize;
  border-width: 0;
  padding: 7px 14px;
  background-color: transparent;
  outline: none;
  font-weight: 500;
  @extend .common-text__sm;
  color: #fff;
}

.close-btn {
  padding: 0;
  color: rgba(0, 0, 0, 0.38);
}

.button-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: $color-primary;
}

.common-form-input,
.common-form-select {
  height: 54px;
  line-height: 1.3;
  color: #555555;
  background-color: #fcfcfc;
  border-color: #cccccc;
  border-width: 1px;
  border-style: solid;
  font-size: 14px;
  padding: 15px;
  box-sizing: border-box;
  outline: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

  &:focus {
    background-color: #ffffff;
    border-color: #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  }

  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
}

[class^='icon-'] {
  font-family: $font-icon-free;
  font-style: normal;
  font-weight: 900;
}

.selectable-item {
  color: $color-common-blue;
  font-weight: bold;
}

.input-invalid {
  border: 1px solid red;
}
