@import 'variables';

.dialog-control {
  display: block;
}

.common-form-select {
  height: 34px;
  padding: 7px;
  margin-right: 16px;
  width: 200px;
}

.common-text__sm {
  color: $color-black;
}
